.page {
    border-top: 8px solid #2e2e2e;
    color: #1c1c1c;
    background-color: #fcfcfc;

    padding-top: 30px;
    padding-bottom: 20px;

    font-family: 'Vollkorn', Georgia, serif;
}

.header {
    padding-left: 10px;
}

.page-nav {
    position: relative;
    left: -30px;
}

.nav-pills {
    font-size: 1.4em;
    font-weight: 400;
}

.nav-pills>li>a {
    color: #acacac;
    background-color: transparent;
}

.nav>li>a {
    padding-left:30px;
    padding-right: 30px;
}

.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    color: #1c1c1c;
    background-color: transparent;
}

.nav-pills>li>a:active {
    background-color: transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: transparent;
    color: #1c1c1c;
    font-weight: 500;
}

.nav-pills > li > a {
    border-radius: 0px;
  }

.jumbotron {
    background-color: #fcfcfc;
}

.container .jumbotron {
    padding-left: 10px;
}

.jumbotron>h1 {
    font-size: 2.8em;
}

.jumbotron.blog-page>p {
    text-align: left;
}

.jumbotron>p>a {
    color: #CC4A14;
}

.jumbotron>p>a:hover {
    position: relative;
    text-decoration: none;
}

.jumbotron>p>a:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom:4px;
    border-bottom: 1px dashed #1c1c1c;
}

.sidebar .navigation a {
    font-size: 1.4em;
    color: #CC4A14;
}

.sidebar .navigation a:hover {
    position: relative;
    text-decoration: none;
}

.sidebar .navigation a:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    bottom:4px;
    border-bottom: 1px dashed #1c1c1c;
}

aside {
    border-radius: .2em;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    padding: 15px 10px 15px 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    border: none;
}

aside span.badge {
    font-weight: normal;
}

aside a:hover>span.badge {
    text-decoration: underline;
}

aside h3 {
    font-size: 1.5em;
    margin-top: 0px;
    color: #acacac;
}

footer a {
    color: #1c1c1c;
    font-size: 2.5em;
    margin-right: 15px;
}

footer a:hover {
    color: #CC4A14;
}

footer .icons {
    text-align: center;
}

aside .icons a {
    font-size: 2.2em;
    color: #acacac;
    margin-right: 5px;
}   

aside .icons a:hover,a:focus {
    text-decoration: none;
    color: #1c1c1c;
}  

.blog-tags {
    text-align: left;
}

.blog-tags>a>span {
    font-weight: normal;
    font-size: 1em;
}

.main-section {
    margin-bottom: 30px;
}

h1 {
    font-weight: 700;
    letter-spacing: -2px;
}

.blog-list>li>a {
    display: block;
    text-align: left;
    color: #1c1c1c;
    border-bottom: 1px solid #ccc;
    padding-top: 3px;
}

.index-list>li>a {
    text-align: left;
    padding-left: 10px;
    color: #1c1c1c;
    border-bottom: 1px solid #ccc;
}

.pager>li>a {
    background-color: #fcfcfc;
    color: #1c1c1c;
    border-color: #ccc;
    border-radius: 0px;
}

.pager>li>a:hover {
    background-color: #1c1c1c;
    color: #fcfcfc;
}

.paper-title h3 {
    margin-top:0px;
    margin-bottom: 20px;
}

.paper-title h2 {
    margin-bottom:0px;
}

.blog-list>li>a:hover {
    background-color: #1c1c1c;
    color: #fcfcfc;
}

.blog-list h3 {
    margin-top: 10px;
    font-size: 1.6em;
}

.blog-list h4 {
    font-size: 1em;
    margin-bottom: 8px;
}

.index-column {
    padding-left: 0px;
}

.index-header {
    padding-left:10px;
}

.index-column-link {
    color: #1c1c1c;
}

.index-column-link:hover {
    color: #1c1c1c;
}

#blog-loader {
    display: none;
}

a.pub-icon {
    font-size: 3em;
    color: #acacac;
    margin-right: 5px;
}

a.pub-icon:hover, a.pub-icon:focus {
    text-decoration: none;
    color: #1c1c1c;
}

.section-header {
    margin-top: 1.3em;
}

@font-face {
    font-family: 'publicationsicons';
    src:  url('fonts/publicationsicons.eot?caqeb0');
    src:  url('fonts/publicationsicons.eot?caqeb0#iefix') format('embedded-opentype'),
      url('fonts/publicationsicons.ttf?caqeb0') format('truetype'),
      url('fonts/publicationsicons.woff?caqeb0') format('woff'),
      url('fonts/publicationsicons.svg?caqeb0#publicationsicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'publicationsicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-eprints:before {
    content: "\e900";
  }
  .icon-researchgate:before {
    content: "\e901";
  }
  