{{ define "main" }}
    {{ .Content }}   
    {{ $paginator := .Paginate (where .Data.Pages "Type" "paper") 5 }}
    <div class="container">
        <h1 class="section-header">Papers</h1>
        {{ range $paginator.Pages }}
            <div class="row">
                <ul class="nav nav-stacked blog-list">
                    {{ partial "summary.html" . }}
                </ul>
            </div>
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
    {{ $section := where .Data.Pages "Type" "dataset" }}
    <div class="container">
        <h1 class="section-header">Datasets</h1>
        {{ range $section }}
            <div class="row">
                <ul class="nav nav-stacked blog-list">
                    {{ partial "summary.html" . }}
                </ul>
            </div>
        {{ end }}
    </div>
{{ end }}