{{ define "main" }}
<div class="container">
    <div class="col-md-8">
        <h3><small>{{ .Date.Format "January, 2006" }}</small></h3>
        <div class="paper-title"><h2>{{ .Title }}</h2>
        <h3><small><span class="grayout">{{ .Params.subtype | title }}</span> at {{ .Description  }}</small></h3></div>
        <div class="main-section">
            {{ .Content }} 
        </div>
    </div>
    <div class="col-md-4 sidebar">
        <div class="navigation">
            <a href='{{ "talks/" | absURL }}'>&lt; Back to Talks</a>
        </div>
        {{ if .Params.tags }}
        <aside class="tags">
            <h3>Tags</h3>
            <div class="tags-list">
            {{ range .Params.tags }}    
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><span class="badge">{{ . }}</span></a>
            {{ end }}     
            </div>       
        </aside>
        {{end}}
        <aside class="tags">
            <h3>Share</h3>
            <div class="icons">
                <a href='https://twitter.com/intent/tweet?hashtags={{ delimit (apply .Params.tags "urlize" ".") ","}}&text={{.Title | htmlEscape}}&url={{.URL | absURL | htmlUnescape}}'>
                    <i class="fa fa-twitter-square"></i></a>
                <a href='https://www.facebook.com/sharer/sharer.php?{{ (querify "u" (.URL | absURL) ) | safeHTML }}'>
                    <i class="fa fa-facebook-square"></i></a>
                <a href='https://plus.google.com/share?url={{ (.URL | absURL) | safeHTML }}'>
                    <i class="fa fa-google-plus-square"></i></a>
            </div>
        </aside>
    </div>
</div>   
{{ end }}
{{ define "scripts" }}
{{ end }}