<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62800163-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-62800163-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm a computer scientist from Singapore. Check out my research, designs, projects and blog.">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}{{ end }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Vollkorn:400,700">
    <link href='{{ "css/style.css" | absURL }}' rel='stylesheet' type="text/css" />
    <link rel="shortcut icon" href='http://eugenesiow.com/img/avatar.png'> 
  </head>
  <body class="page">
    <div class="container">
      {{ block "header" . }}{{ partial "site-header.html" .}} {{ end }}
      {{ block "main" . }} {{ end }}
      {{ block "footer" . }} {{ end }}
    </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//use.fontawesome.com/93c961530f.js"></script>
  <script src='{{ "js/main.js" | absURL }}'></script>
</html>